<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="50" name="Java Responsive Web" parallel="tests">

	

	<test name="Sign up for home delivery - Galaxy S7">
		<parameter name="targetEnvironment" value="Galaxy S7" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>

	<test name="Sign up for home delivery - iPhone 6">
		<parameter name="targetEnvironment" value="iPhone 6" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>


    <test name="Sign up for home delivery - Edge 16">
        <parameter name="targetEnvironment" value="Edge 16"/>
        <classes>
            <class name="test.java.TestHomeDeliverySignup"/>
        </classes>
    </test>

	    <test name="Sign up for home delivery - Chrome Beta">
        <parameter name="targetEnvironment" value="Chrome Beta"/>
        <classes>
            <class name="test.java.TestHomeDeliverySignup"/>
        </classes>
    </test>
	
	<test name="Sign up for home delivery - Chrome 69 Fast 1">
		<parameter name="targetEnvironment" value="Chrome 69 Fast" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>

	<test name="Sign up for home delivery - Chrome 69 Fast 2">
		<parameter name="targetEnvironment" value="Chrome 69 Fast" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>



	<test name="Sign up for home delivery - IE 11">
		<parameter name="targetEnvironment" value="Internet Explorer 11" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>

	<test name="Sign up for home delivery - FF 62">
		<parameter name="targetEnvironment" value="Firefox 62" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>
	<test name="Sign up for home delivery - FF 61">
		<parameter name="targetEnvironment" value="Firefox 61" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>

	<test name="Sign up for home delivery - Chrome 58">
		<parameter name="targetEnvironment" value="Chrome 58" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>


	<test name="Sign up for home delivery - Safari 10 Sierra">
		<parameter name="targetEnvironment" value="Safari 10 Sierra" />
		<classes>
			<class name="test.java.TestHomeDeliverySignup" />
		</classes>
	</test>




</suite>
